body {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #405104;
}

h1 {
  margin: 0;
  height: 100px;
  font-size: 400%;
  font-weight: bolder;
  font-family: "Sacramento", cursive;
  padding-top: 50px;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #62bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  line-height: 2;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.top-container {
  position: relative;
  padding-top: 200px;
  padding-bottom: 15px;
  background-color: #e4f9f5;
  margin-bottom: 30px;
}

.middle-container {
  margin-bottom: 50px;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #66bfbf;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 15%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 40%;
}

.mountain {
  position: relative;
  top: 20px;
}

.projects-image-2 {
  height: 350px;
  width: auto;
  margin-left: 30px;
  object-fit: cover;
}

.projects-image {
  height: 350px;
  width: auto;
  margin-bottom: 70px;
  object-fit: cover;
}

.skills {
  margin-bottom: 180px;
}

.skill-row {
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.skill-head {
  padding-top: 50px;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 600%;
}

.csgo-image {
  height: 200px;
  width: 200px;
  border-radius: 600%;
  float: left;
  margin-right: 30px;
  object-fit: cover;
}

.pubg-image {
  height: 200px;
  width: 200px;
  border-radius: 600%;
  float: right;
  margin-left: 30px;
  margin-bottom: 50px;
  object-fit: cover;
}

.intro {
  width: 40%;
  margin: auto;
}
.footer {
  color: whitesmoke;
  margin-top: 10px;
}

/* button */
.testbutton {
  font-family: arial;
  font-weight: bold;
  color: whitesmoke !important;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #b3b3b3;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #7d3280;
  background: linear-gradient(top, #63b8ee, #468ccf);
  background: -ms-linear-gradient(top, #63b8ee, #468ccf);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#63b8ee),
    to(#468ccf)
  );
  background: -moz-linear-gradient(top, #63b8ee, #468ccf);
}
.testbutton:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(top, #468ccf, #63b8ee);
  background: -ms-linear-gradient(top, #468ccf, #63b8ee);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#468ccf),
    to(#63b8ee)
  );
  background: -moz-linear-gradient(top, #468ccf, #63b8ee);
}

/* footer */
.fab {
  padding: 30px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fab:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: white;
}

.fa-twitter {
  color: blue;
}

.fa-instagram {
  color: purple;
}

.fa-steam {
  color: black;
}

@media only screen and (max-width: 600px) {
  .skill-row {
    width: 80%;
  }

  .projects-image {
    height: 30%;
    width: 30%;
    margin-bottom: 70px;
    object-fit: cover;
  }
}
